URL = "https://www.instagram.com"
USER_ID = "YOUR_INSTAGRAM_ID"
PASSWORD = "YOUR_INSTAGRAM_PASSWORD"

INSTAGRAM_API_URL = "https://graph.facebook.com/v12.0/TAG_ID/recent_media?user_id=YOUR_USER_ID&fields=permalink&access_token=YOUR_ACCESS_TOKEN"
